@font-face {
    font-family: 'lft_eticaregular';
    src: url('fonts/lfteticaregular-webfont.eot');
    src: url('fonts/lfteticaregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lfteticaregular-webfont.woff2') format('woff2'),
         url('fonts/lfteticaregular-webfont.woff') format('woff'),
         url('fonts/lfteticaregular-webfont.ttf') format('truetype'),
         url('fonts/lfteticaregular-webfont.svg#lft_eticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lft_eticabold';
    src: url('fonts/lfteticabold-webfont.eot');
    src: url('fonts/lfteticabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lfteticabold-webfont.woff2') format('woff2'),
         url('fonts/lfteticabold-webfont.woff') format('woff'),
         url('fonts/lfteticabold-webfont.ttf') format('truetype'),
         url('fonts/lfteticabold-webfont.svg#lft_eticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*general*/

body {
  margin: 0 auto;  /* auto sollte bewirken, dass die Seite eingemittet ist */
  position: relative;
  padding: 0;
  /*overflow: hidden;*/
  box-sizing: border-box;
  background-image: url(../img/Paper.png);
  background-size: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "lft_eticaregular";
  text-transform: uppercase;
}

.section {
  width: 100%;
}

/*go to top*/

.scrollToTop{
	width:40px;
	height:20px;
	position:fixed;
  padding-top: 10%;
	top:93%;
  left: 4%;
	display:none;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
}

.scrollToTop:hover{
  opacity: 0.4;
}

/*text*/

.infos {
  font-family: "lft_eticabold";
  font-size: 0.625em;
  color: rgb(237,28,36);
  text-decoration: none;
  text-align: center;
  position: absolute;
  /*padding-top:3.125em;*/
  margin: 60% 0 0 85%;
  z-index: 0;
}

a:hover{
  color: rgba (0,0,0,0.8);
}

a:visited{
  color: rgb(237,28,36);
}

p {
  font-family: "lft_eticaregular";
  text-transform: uppercase;
  font-size: 0.625em;
  color: rgba (0,0,0,0.8);
  text-align: center;
  line-height: 120%;
  margin: 20px 60px 20px 60px;
}

.sources {
  font-family: "lft_eticaregular";
  text-transform: uppercase;
  font-size: 0.625em;
  text-align: center;
  color: black;
  text-decoration: none;
  line-height: 120%;
  margin: 20px 60px 20px 60px;
}

.sources:visited {
  color: black;
}

.DataTitle {
  font-family: "lft_eticabold";
  text-transform: uppercase;
  color: rgb(237,28,36);
  text-align: center;
  line-height: 120%;
  padding-top: 3%;
  text-decoration: none;
}

.titleStart {
  font-family: "lft_eticabold";
  font-size: 6.875em;
  letter-spacing: 1px;
  font-style: normal;
  color: #FFC;
  position: absolute;
  margin: 33% 0 0 28%;
}

.titleImport, .titleImport1, .titleExport, .titleExport2{
  font-family: "lft_eticabold";
  font-size: 3.125em;
  color: rgb(237,28,36);
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  margin-left: 3%;
}

.titleExport2{
  margin-top: 10%;
}

.legende1 {
  position: absolute;
  width: 40%;
  margin: 550px 100px 0 50px;
  z-index: 1;
}

.legende2 {
  position: absolute;
  width: 40%;
  margin: 740px 100px 0 50px;
  z-index: 1;
}

.text, .text2, .text3 {
  font-family: "lft_eticabold";
  font-size: 1.875em;
  line-height: 140%;
  color: black;
  text-align: center;
  margin: 0 15% 0 15%;
}

.text{
  padding-top: 18%;
}

.text2 {
  padding-top: 22%;
}

.text3 {
  padding-top: 20%;
}

/*h1{
  font-family: "lft_eticaregular";
  text-transform: uppercase;
  font-size: 4em;
  margin-left: 1em;
}*/

h2, h3, h4, h5{
  font-family: "lft_eticabold";
  text-transform: uppercase;
  margin-left: 3%;
  /*margin-top:3%;*/
}

h2 h4 h5{
  color: black;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 1.5em;
  color: #FFC;
  margin-top: -1.5%;
}

h4{
  font-size: 1em;
  /*margin-top: 40px;*/
}

h5{
  font-size: 1em;
  margin-top: -1%;
}

/*start section*/

#title {
  margin-left: -100px;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
}

.section.start {
  width: 100%;
  background-image: url(../img/bg_red.png);
  background-size: 100%;
  background-position: bottom right;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.scroller {
  width:100px;
	height:60px;
	position:fixed;
  text-align: center;
	top:90%;
  left: 46%;
  display: none;
  transform: rotate(180deg);
  background-image: url(../img/arrow_fat.svg);
  background-repeat: no-repeat;
  z-index: 10;
  cursor:pointer;
}

.scroller:hover{
  opacity: 0.4;
}

/*import section 1*/

.section.import1 {
  width: 100%;
  padding-top: 100px;
}

.triggerImport1 {
  position: relative;
  top: 260px;
  right: 0px;
}

.triggerImportZoom {
  position: relative;
  top: 300px;
  right: 0px;
}

.triggerImportTitle {
  position: relative;
  top: -200px;
  right: 0px;
}

#vis1 {
  opacity: 0;
}

.tooltip_2{
  position: absolute;
  font-family: "lft_eticabold";
  font-size: 0.750em;
  text-transform: uppercase;
  z-index: 10;
  padding: 0.500em;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  cursor:help;
}

.tooltip{
  position: absolute;
  font-family: "lft_eticabold";
  font-size: 0.750em;
  text-transform: uppercase;
  z-index: 10;
  padding: 0.500em;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  cursor:help;
}

.refugees{
  color: #000;
  background-color: rgba(237, 28, 36, 0.8);
}

/*import section 2*/

.section.import2 {
  width: 100%;
  padding-top: 100px;
}

/*export section 1*/

.section.export1 {
  padding-top: 20px;
}

.triggerExport1 {
  position: relative;
  top: 100px;
}

.triggerTitleExport {
  position: relative;
}

.bar {
  fill: rgb(237,28,36);
}

.bar:hover {
  fill: rgba(0, 0, 0, 0.8);
}

.d3-tip {
  font-family: "lft_eticabold";
  line-height: 1;
  padding: 0.750em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:first-child {
  padding-left: 200px;
}

.d3-tip:last-child {
  padding-right: 0px;
}

/*export section 2*/

.section.export2 {
  padding-top: 80px;
}

.export {
  transition: all 0.8s;
  cursor:pointer;
  stroke-width: 1;
}

.export:hover {
  opacity: 0.5;
}

#export-div span {
  font-family: "lft_eticabold";
  font-size: 0.750em;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  padding: 0.500em;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 20;
  position:fixed;
  overflow:hidden;
}

#worldmap{
  width: 100%;
  display: block;
}

img{
  margin: 0;
  padding: 0;
  position: absolute;
}

.exportAnimation{
  padding-left: 20%;
  padding-top: 300px;
}

.triggerExport2 {
  position: relative;
  top: 20px;
  right: 0px;
}

.triggerTitleExport {
  position: relative;
  top: 30px;
  right: 0px;
}

/*description sections */

.page.section.description,  .page.section.description2, .page.section.description3{
  width: 95%;
  background-image: url(../img/bg_red.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 100px;
}

.page.section.description2, .page.section.description3 {
  margin-bottom: 100px;
}

/*popup*/

svg{
  margin: 0;
  padding: 0;
  position: absolute;
}

#popup{
left: 0px;
right: 0px;
top: 0px;
width: 100%;
height: 100%;
position: fixed;
background: url(../img/bg_red_new2.png) no-repeat;
background-size: cover;
background-position: bottom left;
display: none;
z-index: 3;
}

#xButton{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor:pointer;
  display: none;


}

.armsImg{
  width: 100%;
  /*margin-top: -25em;*/
  /*position: absolute;*/
  display: none;
}

.refugee_icon{
  width: 2.188em;
  margin-top: 8.75%;
  margin-left: 50%;
}

.circles {
  position: absolute;
  margin-left: 50%;
  /*margin-top: -2%;*/
}

.ak47_1 {
  top: 19.500em;
}

.ak47_2 {
  top: 16.250em;
}

.ak47_3 {
  top: 13.000em;
}

.ak47_4 {
  top: 9.750em;
}

.ak47_5 {
  top: 6.500em;
}

.ak47_6 {
  top: 3.250em;
}

.ak47_7 {
  top: 0;
}
